
#top {
    width: 100%;
    height: auto;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

#main {
    height: auto;
}

#firstMain {
    float: left;
    width: 22%;
    height: auto;
    background-color: gray;
    padding-bottom: 60px;
}

#secondMain {
    float: left;
    width: 75%;
}

.addButton {
    background-color: orange;
    border: solid;
    3: 35 PM 16/11/2015
    margin-left: 4px;

    border-color: orange;
    border-radius: 12px;
    margin-top: 3px;
}

.addButton:hover {
    background-color: lightblue;
    border-color: lightblue;

}

.logout {

    float: right;
    margin-top: 4px;
    margin-right: 10px;

}

.themeButton {

    float: right;
    margin-top: 4px;
    margin-right: 6px;
}

.settings {
    float: right;
    margin-top: 4px;
    margin-right: 6px;

}

#tabtitle {
    width: 500px;
    height: auto;
    background-color: orange;
    margin-bottom: 100px;
    position: relative;
    bottom: 25px;
}

#tabbody {
    width: 500px;
    position: relative;
    bottom: 125px;
    background-color: gray;
    height: auto;
    padding-bottom: 50px;

}

#tabtitle2 {
    width: 500px;
    height: auto;
    background-color: orange;
    margin-bottom: 100px;
    position: relative;
    bottom: 25px;
}

#tabbody2 {
    width: 500px;
    position: relative;
    bottom: 125px;
    background-color: gray;
    height: auto;
    padding-bottom: 50px;

}

#tabtitle3 {
    width: 500px;
    height: auto;
    background-color: orange;
    margin-bottom: 100px;
    position: relative;
    bottom: 25px;
}

#tabbody3 {
    width: 500px;
    position: relative;
    bottom: 125px;
    background-color: gray;
    height: auto;
    padding-bottom: 50px;

}

#tabtitle4 {
    width: 500px;
    height: auto;
    background-color: orange;
    margin-bottom: 100px;
    position: relative;
    bottom: 25px;
}

#tabbody4 {
    width: 500px;
    position: relative;
    bottom: 125px;
    background-color: gray;
    height: auto;
    padding-bottom: 50px;

}

#tab1 {

    margin-left: 40px;
    margin-top: 40px;

}

#tab2 {
    margin-left: 40px;
    margin-top: 40px;
}

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: orange;
}

.menu {

    margin: 0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: 'Ek Mukta';
}

.menu a {
    transition: all linear 0.15s;
    color: black;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration: none;
    color: gray;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background: #D59191;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: orange;
}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background: black;
}
