/*CSS for top bar*/
.top {
	background-color:#e67e22;
}

.topIcon {
	float:right;
	margin-right:20px;
	margin-top:25px;
	color:#ffffff;
}

/*CSS for container */
.container {
  background-color:grey;
}

/*CSS for navigation bar */
.navPane {
	height:800px;
	width:200px;
	background-color:#333333;
	float:left;
  position:fixed;
}

.navPane .navbar ul {
   float: none;
}

.navPane .navbar li {
   display: block;
   float:none;
   background-color:#e67e22;
  border: 1px solid #333333;
}

.navbar-default .navbar-nav li a {
  color:#000000;
  font-weight:bold;
}

.navbar-default {
  background-color:#333333;
  border:none;
  margin-top:50px;
}

.navPane .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

/*CSS for each module box*/

.thumbnail h3 {
  background-color:#e67e22;
  color:#ffffff;
}

.thumbnail {
  margin-top:20px;
  background-color:#333333;
}

.thumbnail p {
  color:#000000;
}

/* CSS for workspace drop down */
.select {
  float:left;
}

/* CSS for adding new workspace */
.newWorkspace {
  float:right;
}

/* CSS for checkboxes in module tab */
.checkbox {
  color:white;
}

.newModule {
  float:left;
}
